node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.DS_Store
/tests-examples
HannesRawtestfile.spec.ts
*.txt
plan_project_txt.
package-lock.json
package.json
README.md
